{{template "layout.html"}}

{{define "content"}}
<div class="jumbotron d-flex flex-column align-items-center handwritten bg-dark mt-4 pb-5">
    <h1>Use <span class="font-pacifico">Goo-To-Do-Foo <i class="fa fa-pencil mr-2" aria-hidden="true"></i></span> now
        and experience the value of it.</h1>

    <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-outline-light mt-3 btn-register">
            <i class="fa fa-pencil mr-2" aria-hidden="true"></i>
            Register now to get started.
        </button>
    </div>
</div>

<div class="container container-quote p-7">
    <h4 class="quote-header">What Todo-List users say about Todo-Lists...</h4>

    <div class="carousel slide" data-pause="false" data-ride="carousel" data-interval="6000">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col-sm-6">
                        <img src="/assets/images/Monarch_Butterflies.jpg" class="img-thumbnail">
                    </div>
                    <div class="col-sm-6">
                        <blockquote class="blockquote blockquote-reverse">
                            <p>Got more time for my family since Todo-Lists have been integrated into my
                                everday-life.</p>
                            <footer class="blockquote-footer">
                                A butterfly
                                <cite>from the backyard</cite>
                            </footer>
                        </blockquote>
                    </div>
                </div>
            </div>

            <div class="carousel-item">
                <div class="row">
                    <div class="col-sm-6">
                        <img src="/assets/images/White_Fronted_Geese.jpg" class="img-thumbnail">
                    </div>
                    <div class="col-sm-6">
                        <blockquote class="blockquote blockquote-reverse">
                            <p>Using Todo-List keeps me flying in my business. I can hatch more eggs now.</p>
                            <footer class="blockquote-footer">
                                A goose
                                <cite>returning from a business-trip in Africa.</cite>
                            </footer>
                        </blockquote>
                    </div>
                </div>
            </div>

            <div class="carousel-item">
                <div class="row">
                    <div class="col-sm-6">
                        <img src="/assets/images/âIâiwi_adult.jpg" class="img-thumbnail">
                    </div>
                    <div class="col-sm-6">
                        <blockquote class="blockquote blockquote-reverse">
                            <p>Using Todo-List feels totally safe and handy.</p>
                            <footer class="blockquote-footer">
                                A little birdie
                                <cite>in the hand.</cite>
                            </footer>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{end}}