body {
    background-color: #2980b9;
    font-family: 'Lora', serif;
}

.font-pacifico {
    font-family: 'Pacifico', cursive;
    font-size: 30px;
}

.font-nova-mono {
    font-family: 'Nova Mono', monospace;
}

.blockquote p, .handwritten {
    font-size: 1.4em;
    font-family: 'Indie Flower', cursive;
    color: white;
}

.btn-register {
    font-size: 0.8em;
}

.quote-header {
    font-size: 2em;
    font-weight: bold;
    color: white;
    margin-bottom: 1.5em;
    margin-top: 2em;
}

.blockquote-footer {
    color: antiquewhite;
    font-size: 1em;
}

.content {
    height: 100%;
}

.container-quote {
    padding-left: 4em;
    padding-right: 4em;
}

.container-quote .carousel-inner {
    height: 600px;
}