body {
    background-size: cover;
    background: url("/assets/images/butterfly.jpeg");
}

.font-pacifico {
    font-family: 'Pacifico', cursive;
    font-size: 30px;
}

.font-great-vibes {
    font-family: 'Great Vibes', cursive;
}

.font-nova-mono {
    font-family: 'Nova Mono', monospace;
}

.content {
    height: 100vh;
}